---
layout: default
title: Home
---

<div class="posts" id="posts-container">
  {% for post in site.posts %}
  {% if post.lang %}
  <div class="post" data-lang="{{ post.lang }}">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}

    <div id="disqus_thread_{{ forloop.index }}"></div>
    <script>
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://deonurim-seongjang-ilji.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
  {% endif %}
  {% endfor %}
</div>
